@media screen and (max-width:1090px) 
{
  body
  {
    overflow-x: hidden;
    font-size: 18px;
  }

  section
  {
    padding: 5% 20vw;
  }

  .bolha::after
  {
    min-height: 70vh;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .bolha >h1
  {
    padding-top: 12%;
  }  

}

@media screen and (max-width: 820px)
{
  section
  {
    padding: 7% 10vw;
  }

  .bolha::after
  {
    min-height: 65vh;
  }

  .bolha >h1
  {
    padding-top: 14%;
  }  
  
}

@media screen and (max-width: 780px)
{
  body
  {
    font-size: 16px;
    min-height: 320vh;
  }

  section
  {
    padding: 10% 10vw 0 10vw;
    min-height: 30vh;
  }

  .bolha:after
  {
    width: 120%;
  }

  .blob-animado + .spacer
  {
    margin-top: -2%;
  }

}

@media screen and (max-width: 550px)
{  

  body h1
  {
    font-size: 3.5em;
  }

  section
  {
    padding: 6% 5vw;
  }
  
  .curva
  {
    max-height: 12vh;
  }

  .bolha
  {
    min-height: 75vh;
    padding: 1vh 5vw;
  }

  .bolha:after
  {
    min-height: 75vh;
    width: 120%;
  }

  .bolha > h1
  {
    padding-top: 50%;
  }

  .onda svg
  {
    min-height: 25vh;
  }



  .red h1
  {
    margin-top: 18%;
  }

  .bezier
  {
    padding: 8% 5vw;

  }

  .bezier h1
  {
    transform: translateY(-25%);
  }

  .bezier img
  {
    transform: translateY(0);
    margin-bottom: 5%;
    height: 50%;
    border-radius: 20%;
  }

  .blob-animado
  {
    margin-top: -2%;
    min-height: 60vh;
  }
}
